.forgot-password {
    background-color: #0b0b0b;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.forgot-password .overlap-wrapper {
    background-color: #0b0b0b;
    border: 1px none;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
}

.forgot-password .overlap {
    height: 964px;
    left: 60px;
    position: relative;
    top: 62px;
    width: 1380px;
}

.forgot-password .overlap-group {
    height: 208px;
    left: 0;
    position: absolute;
    top: 318px;
    width: 605px;
}

.forgot-password .text-wrapper {
    color: #ffffff;
    font-family: "Noto Sans-SemiBold", Helvetica;
    font-size: 96px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.forgot-password .frame {
    align-items: flex-start;
    border: 4px solid;
    border-color: #ffffff;
    display: inline-flex;
    gap: 10px;
    left: 9px;
    padding: 14px 24px;
    position: absolute;
    top: 128px;
}

.forgot-password .div {
    color: #ffffff;
    font-family: "Noto Sans-DisplaySemiBold Italic", Helvetica;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.forgot-password .overlap-group-2 {
    height: 964px;
    left: 738px;
    position: absolute;
    top: 0;
    width: 642px;
}

.forgot-password .ellipse {
    background: linear-gradient(180deg, rgb(96.69, 0, 58.01) 0%, rgb(44.8, 10.16, 47.81) 100%);
    border-radius: 151px;
    height: 302px;
    left: 0;
    position: absolute;
    top: 0;
    width: 302px;
}

.forgot-password .ellipse-2 {
    background: linear-gradient(180deg, rgb(96.69, 0, 75.42) 0%, rgb(33.5, 10.16, 47.81) 100%);
    border-radius: 110px;
    height: 220px;
    left: 383px;
    position: absolute;
    top: 705px;
    transform: rotate(-28.5deg);
    width: 220px;
}

.forgot-password .frame-wrapper {
    -webkit-backdrop-filter: blur(53px) brightness(100%);
    backdrop-filter: blur(53px) brightness(100%);
    background: linear-gradient(180deg, rgba(191.25, 191.25, 191.25, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1;
    border-radius: 20px;
    box-shadow: -8px 4px 5px #0000003d;
    height: 798px;
    left: 101px;
    overflow: hidden;
    position: absolute;
    top: 51px;
    width: 482px;
}

.forgot-password .frame-2 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 372px;
    left: 40px;
    position: relative;
    top: 97px;
}

.forgot-password .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 47px;
    position: relative;
}

.forgot-password .upper-section {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 14px;
    position: relative;
}

.forgot-password .login-text {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.forgot-password .text-wrapper-2 {
    color: #ffffff;
    font-family: "Noto Sans-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.forgot-password .text-wrapper-3 {
    color: #ffffff;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.forgot-password .credentials {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.forgot-password .username {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 14px 16px;
    position: relative;
    width: 400px;
}

.forgot-password .text-wrapper-4 {
    color: #ffffff;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}
.forgot-password .text-wrapper-41 {
    color: #ffffff;
    background-color: transparent;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.forgot-password .login-bt-fp {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    position: relative;
}

.forgot-password .login {
    align-items: center;
    background: linear-gradient(
        180deg,
        rgb(232.69, 71.75, 197.28) 0%,
        rgb(205.06, 64.08, 123.29) 53.12%,
        rgb(116.88, 3.9, 44.57) 100%
    );
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 14px 10px;
    position: relative;
    width: 400px;
}

.forgot-password .text-wrapper-5 {
    color: #ffffff;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.forgot-password .frame-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    position: relative;
}

.forgot-password .p {
    color: #ffffff;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.forgot-password .customer-care {
    align-items: center;
    background: linear-gradient(180deg, rgba(97.75, 97.75, 97.75, 0) 0%, rgba(97.75, 97.75, 97.75, 0.25) 100%);
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 4px 6px;
    position: relative;
    width: 400px;
}

.forgot-password .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
}

.forgot-password .text-wrapper-6 {
    color: #ffffff;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  
    position: relative;
    width: fit-content;
}

.forgot-password .line {
    height: 2px;
    left: 277px;
    position: absolute;
    top: 486px;
    width: 554px;
}
