.container
{
  display: flex;
  justify-content: center;
  height: 1024px;
  width: 100%;
}

.login {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login .overlap-wrapper {
    background-color: #000000;
    border: 1px none;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
  
  .login .overlap {
    height: 937px;
    left: 60px;
    position: relative;
    top: 81px;
    width: 1408px;
  }
  
  .login .overlap-group {
    height: 937px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1408px;
  }
  
  .login .text-wrapper {
    color: #ffffff;
    font-family: "Noto Sans-SemiBold", Helvetica;
    font-size: 96px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 299px;
  }
  
  .login .frame {
    height: 80px;
    left: 18px;
    position: absolute;
    top: 427px;
    width: 244px;
  }
  
  
  .login .ellipse {
    background: linear-gradient(180deg, rgb(159, 0, 135) 0%, rgb(13.17, 10.16, 47.81) 100%);
    border-radius: 151px;
    height: 302px;
    left: 689px;
    position: absolute;
    top: 0;
    width: 302px;
  }
  
  .login .div {
    background: linear-gradient(180deg, rgb(177, 5, 175) 0%, rgb(10.16, 16.18, 47.81) 100%);
    border-radius: 110px;
    height: 220px;
    left: 1149px;
    position: absolute;
    top: 678px;
    transform: rotate(-28.5deg);
    width: 220px;
  }
  
  .login .frame-wrapper {
    -webkit-backdrop-filter: blur(53px) brightness(100%);
    backdrop-filter: blur(53px) brightness(100%);
    background: linear-gradient(180deg, rgba(191.25, 191.25, 191.25, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1;
    border-radius: 20px;
    box-shadow: -8px 4px 5px #0000003d;
    height: 798px;
    left: 839px;
    overflow: hidden;
    position: absolute;
    top: 32px;
    width: 482px;
  }
  
  .login .frame-2 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 101px;
    left: 40px;
    position: relative;
    top: 97px;
  }
  
  .login .frame-3
  {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 47px;
    position: relative;
  }
  
  .login .upper-section {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 14px;
    position: relative;
  }
  
  .login .login-text {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .login .text-wrapper-2 {
    color: #ffffff;
    font-family: "Noto Sans-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login .text-wrapper-3 {
    color: #ffffff;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .login .credentials {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 25px;
    position: relative;
  }
  
  .login .username {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 14px 16px;
    position: relative;
    width: 400px;
  }
  
  .login .text-wrapper-4 {
    color: #ffffff;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  .login .text-wrapper-9 {
    color: #ffffff;
    background-color: transparent;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .login .password-rem {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
  }
  
  .login .password {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 14px 16px;
    position: relative;
    width: 400px;
  }
  
  .login .img {
    height: 18px;
    position: relative;
    width: 18px;
  }
  .login .img2 {
    height: 42px;
    
    width: 42px;
  }
  
  .login .remember {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
  }
  
  .login .text-wrapper-5 {
    color: #ffffff;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .login .text-wrapper-11 {
    color: #ffffff;
    background-color: transparent;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login .login-bt-fp {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    position: relative;
  }
  
  .login .div-wrapper {
    align-items: center;
    background: linear-gradient(
      180deg,
      rgb(150, 32, 158) 0%,
      rgb(135, 19, 137) 53.12%,
      rgb(148, 3, 114) 100%
    );
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 14px 10px;
    position: relative;
    width: 400px;
  }
  
  .login .text-wrapper-6 {
    color: #ffffff;
    font-family: "Noto Sans-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login .other-logins {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
  }
  
  .login .or {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
  }
  
  .login .line {
    height: 2px;
    position: relative;
    width: 170px;
  }
  
  .login .text-wrapper-7 {
    color: #4c4c4c;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login .frame-4 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .login .frame-5 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .login .customer-care {
    align-items: center;
    background: linear-gradient(180deg, rgba(97.75, 97.75, 97.75, 0) 0%, rgba(97.75, 97.75, 97.75, 0.07) 100%);
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 4px 6px;
    position: relative;
    width: 400px;
  }
  
  .login .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .login .text-wrapper-8 {
    color: #ffffff;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .login .line-2 {
    height: 2px;
    left: 270px;
    position: absolute;
    top: 467px;
    width: 561px;
  }
  
  .newframe {
    align-items: center;
    border: 1px none;
    display: inline-flex;
    gap: 18px;
    justify-content: center;
    min-height: 42px;
    min-width: 162px;
    position: relative;
    width: 100%;
}

.newframe .img2 {
    height: 42px;
    position: relative;
    width: 42px;
}



/* ***************************************** */



.signup {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signup .overlap-wrapper {
  background-color: #0e0e0e;
  border: 1px none;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.signup .overlap {
  height: 936px;
  left: 60px;
  position: relative;
  top: 60px;
  width: 1387px;
}

.signup .overlap-group {
  height: 208px;
  left: 0;
  position: absolute;
  top: 320px;
  width: 751px;
}

.signup .text-wrapper {
  color: #ffffff;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-size: 96px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.signup .frame {
  align-items: flex-start;
  border: 4px solid;
  border-color: #ffffff;
  display: inline-flex;
  gap: 10px;
  left: 9px;
  padding: 14px 24px;
  position: absolute;
  top: 128px;
}

.signup .div {
  color: #ffffff;
  font-family: "Noto Sans-DisplaySemiBold Italic", Helvetica;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.signup .overlap-group-2 {
  height: 936px;
  left: 735px;
  position: absolute;
  top: 0;
  width: 652px;
}

.signup .ellipse {
  background: linear-gradient(180deg, rgb(25.14, 0, 96.69) 0%, rgb(10.16, 27.48, 47.81) 100%);
  border-radius: 151px;
  height: 302px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.signup .ellipse-2 {
  background: linear-gradient(180deg, rgb(0, 15.47, 96.69) 0%, rgb(10.16, 22.96, 47.81) 100%);
  border-radius: 110px;
  height: 220px;
  left: 393px;
  position: absolute;
  top: 677px;
  transform: rotate(-28.5deg);
  width: 220px;
}

.signup .frame-wrapper {
  -webkit-backdrop-filter: blur(53px) brightness(100%);
  backdrop-filter: blur(53px) brightness(100%);
  background: linear-gradient(180deg, rgba(191.25, 191.25, 191.25, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1;
  border-radius: 20px;
  box-shadow: -8px 4px 5px #0000003d;
  height: 798px;
  left: 104px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  width: 482px;
}

.signup .frame-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 53px;
  left: 40px;
  position: relative;
  top: 97px;
}

.signup .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.signup .upper-section {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.signup .login-text {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.signup .text-wrapper-2 {
  color: #ffffff;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.signup .p {
  color: #ffffff;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.signup .credentials {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.signup .div-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 14px 16px;
  position: relative;
  width: 400px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

.signup .text-wrapper-3 {
  color: #ffffff;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.signup .text-wrapper-9 {
  color: #ffffff;
  background-color: transparent;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 500px;
}

.signup .password-rem {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.signup .login-bt-fp {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.signup .login {
  align-items: center;
  background: linear-gradient(
      180deg,
      rgb(45.62, 76.4, 238) 0%,
      rgb(33.5, 30.28, 191.25) 53.12%,
      rgb(3.9, 15.19, 116.88) 100%
  );
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 14px 10px;
  position: relative;
  width: 400px;
}

.signup .text-wrapper-4 {
  color: #ffffff;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.signup .other-logins {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.signup .or {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.signup .line {
  height: 2px;
  position: relative;
  width: 170px;
}

.signup .text-wrapper-5 {
  color: #4c4c4c;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.signup .img {
  flex: 0 0 auto;
  position: relative;
}

.signup .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.signup .text-wrapper-6 {
  color: #ffffff;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.signup .customer-care {
  align-items: center;
  background: linear-gradient(180deg, rgba(97.75, 97.75, 97.75, 0) 0%, rgba(97.75, 97.75, 97.75, 0.07) 100%);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 4px 6px;
  position: relative;
  width: 400px;
}

.signup .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.signup .text-wrapper-7 {
  color: #ffffff;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.signup .line-2 {
  height: 2px;
  left: 256px;
  position: absolute;
  top: 488px;
  width: 575px;
}
