.blog-page {
    background-color: #040404;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.blog-page .div {
    background-color: var(--slate-900);
    border: 1px none;
    height: 1000px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.blog-page .overlap {
    height: 1368px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 1441px;
}

.blog-page .newcard {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 29px;
    width: 1440px;
}

.blog-page .newcard-2 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    height: 700px;
    justify-content: center;
    position: relative;
}

.blog-page .newcard-3 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    justify-content: center;
    position: relative;
    width: 1440px;
}

.blog-page .newcard-element {
    background-color: var(--slate-800);
    border-radius: 20px;
    box-shadow: 0px 4px 10px #dfb8dfac;
    height: 518px;
    
    overflow: hidden;
    position: relative;
    width: 369px;
}

.blog-page .text-wrapper-2 {
    color: white;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 340px;
    width: 209px;
}

.blog-page .lorem-ipsum-dolor {
    color: transparent;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 390px;
    width: 341px;
}

.blog-page .span {
    color: #9ca3af;
}

.blog-page .text-wrapper-3 {
    color: #f8fafc;
  
}

.blog-page .img-2 {
    height: 293px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 369px;
}

.blog-page .group {
    box-shadow: 0px 4px 10px #ec27a060;
    height: 518px;
    border-radius: 20px;
    position: relative;
    width: 369px;
}

.blog-page .overlap-group {
    height: 518px;
    position: relative;
}

.blog-page .newcard-element-wrapper {
    height: 518px;
    left: 0;
    position: absolute;
    top: 0;
    width: 369px;
}

.blog-page .newcard-element-2 {
    background-color: var(--slate-800);
    border-radius: 20px;
    height: 518px;
    overflow: hidden;
    position: relative;
}

.blog-page .overlap-2 {
    border-radius: 20px;
    height: 518px;
    position: relative;
}

.blog-page .newcard-element-3 {
    background-color: var(--slate-800);
    border-radius: 20px;
    height: 518px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 369px;
}

.blog-page .newcard-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 539px;
    justify-content: center;
    left: 1px;
    position: absolute;
    top: 829px;
    width: 1440px;
}

.h12 {
    color: white;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 540px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 360px;
}

.blog-page .p {
    color: white;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 364px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 96px;
    transform: rotate(0.14deg);
    white-space: nowrap;
}

.blog-page .overlap-3 {
    height: 376px;
    left: -3px;
    position: absolute;
    top: 1583px;
    width: 1444px;
}

.blog-page .frame-wrapper {
    align-items: center;
    display: inline-flex;
    gap: 800px;
    left: 97px;
    position: absolute;
    top: 342px;
}

.blog-page .p-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.blog-page .text-wrapper-4 {
    color: white;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.blog-page .line {
    height: 1px;
    left: 3px;
    object-fit: cover;
    position: absolute;
    top: 314px;
    width: 1436px;
}

.blog-page .frame-2 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 1133px;
    position: absolute;
    top: 332px;
}

.blog-page .vector {
    height: 35.61px;
    margin-left: -1.38px;
    position: relative;
    width: 33.92px;
}

.blog-page .team-female-instance {
    flex: 0 0 auto !important;
}

.blog-page .CTA {
    height: 371px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1444px;
}

.blog-page .overlap-4 {
    height: 149px;
    left: 153px;
    position: relative;
    top: 61px;
    width: 1138px;
}

.blog-page .subscribe-to-my {
    height: 92px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 344px;
}

.blog-page .overlap-5 {
    height: 80px;
    left: 0;
    position: absolute;
    top: 69px;
    width: 1138px;
}

.blog-page .lorem-ipsum-dolor-2 {
    color: white;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 56px;
    white-space: nowrap;
    width: 853px;
}

.blog-page .overlap-wrapper {
    height: 70px;
    left: 616px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 522px;
}

.blog-page .overlap-6 {
    height: 70px;
    position: relative;
    width: 524px;
}

.blog-page .button-get-started {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 524px;
}

.blog-page .overlap-group-2 {
    background-color: #1e293b;
    border-radius: 30px;
    height: 70px;
    position: relative;
    width: 522px;
}

.blog-page .text-wrapper-5 {
    color: white;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 23px;
    white-space: nowrap;
    width: 180px;
}

.blog-page .overlap-group-wrapper {
    height: 46px;
    left: 341px;
    position: absolute;
    top: 12px;
    width: 166px;
}

.blog-page .overlap-7 {
    background: linear-gradient(180deg, rgb(34, 211, 238) 0%, rgb(14, 165, 233) 100%);
    border-radius: 30px;
    height: 46px;
    position: relative;
    width: 164px;
}

.blog-page .text-wrapper-6 {
    color: var(--slate-800);
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
}

.blog-page .nav-nav-header-instance {
    background-color: unset !important;
    height: 112px !important;
    left: 31px !important;
    padding: 20px 100px !important;
    position: absolute !important;
    top: 0 !important;
    width: 1386px !important;
}

.blog-page .nav-nav-header-2 {
    background-clip: text !important ;
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(180deg, rgb(34, 211, 238) 0%, rgb(14, 165, 233) 100%) !important;
    background-clip: text !important;
    color: transparent !important;
    -webkit-text-fill-color: transparent !important;
}

.blog-page .nav-nav-header-3 {
    color: var(--slate-50) !important;
    font-size: 24px !important;
}
